---
import image_1 from '../../assets/images/Product.png'
---
<section id="inicio">
    <div class="relative h-[584px] w-full bg-secondary items-center flex">

        <div class="bg-white rounded-r-full p-4 w-[30rem] h-[80%]"></div>


        <img
            src={image_1.src}
            alt="Producto"
            class="absolute left-[5rem] top-[50%] transform -translate-y-1/2 w-[300px] h-[30rem]"
        />


        <div class="absolute inset-0 flex flex-col justify-center items-end text-white gap-4">
            <div class="bg-white rounded-l-full p-4">
                <h1
                    class="md:text-4xl text-2xl font-semibold text-start text-primary md:w-[800px] text-balance md:pl-8 p-4"
                >
                Innovación al servicio de tu salud
                </h1>
            </div>
            <div class="bg-white rounded-l-full p-4">
                <h2 class="md:text-lg text-base font-medium max-w-3xl text-start text-black md:w-[625px] text-balance pl-8">
                    Transformamos la tecnología en bienestar para quienes más lo necesitan.
        </div>
    </div>
</section>
