---
interface Props {
  title: string;
  icon: string; // Ruta al ícono o imagen representativa de la característica
  description: string;
}

const { title, icon, description } = Astro.props;
---

<div class="bg-white shadow-md rounded-xl p-6 max-w-sm text-center">
  <!-- Ícono o imagen representativa -->
  <img src={icon} alt={title} class="w-16 h-16 mx-auto mb-4" />

  <!-- Título de la característica -->
  <h3 class="text-lg font-bold text-black">{title}</h3>

  <!-- Descripción de la característica -->
  <p class="text-gray-500 mt-2 text-sm">{description}</p>
</div>
